<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Knowledge Base</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
    <script src="https://unpkg.com/neovis.js@2.1.0"></script>
    
    <script>
        const url_signup = {{ url_for("api_signup")|tojson }}
        const url_login = {{ url_for("api_login")|tojson }}
        const url_logout = {{ url_for("api_logout")|tojson }}
        const url_list_documents = {{ url_for("api_list_documents")|tojson }}
        const url_create_document = {{ url_for("api_create_document")|tojson }}
        const url_update_document = {{ url_for("api_update_document", document_id="DOCUMENT_ID")|tojson }}
        
        function drawGraph(nodes, links) {
            const width = document.querySelector('svg').getBoundingClientRect().width;
            const height = window.innerHeight

            const svg = d3.select('svg')
                .attr('width', '100%')

            const simulation = d3.forceSimulation(nodes)
                .force('link', d3.forceLink(links).id(d => d.id).distance(100))
                .force('charge', d3.forceManyBody().strength(-300))
                .force('center', d3.forceCenter(svg.node().getBoundingClientRect().width / 2, height / 2));
            
            updateDimensions();

            const link = svg.append('g')
                .selectAll('line')
                .data(links)
                .enter().append('line')
                .style('stroke', '#aaa');

            const node = svg.append('g')
                .attr('class', 'nodes')
                .selectAll('g')
                .data(nodes)
                .enter().append('g')

            node.append('circle')
                .attr('r', 20)
                .attr('fill', d => d.label === 'User' ? 'steelblue' : 'brown')

            const drag_handler = d3.drag()
                .on('start', dragstarted)
                .on('drag', dragged)
                .on('end', dragended);
            
            drag_handler(node);

            function updateDimensions() {
                const width = svg.node().getBoundingClientRect().width;
                svg.attr('height', height);
                simulation.force('center', d3.forceCenter(width / 2, height / 2));
                simulation.alpha(0.3).restart();
            }

            node.append('text')
                .text(d => d.title)
                .attr('x', 25)
                .attr('y', 6)
                .style('font-size', '18px')
                .style('font-family', 'Arial, sans-serif');

            node.append('title')
                .text(d => d.title);

            simulation.nodes(nodes).on('tick', ticked);
            simulation.force('link').links(links);
            
            window.addEventListener('resize', updateDimensions);

            function ticked() {
                link
                    .attr('x1', d => d.source.x)
                    .attr('y1', d => d.source.y)
                    .attr('x2', d => d.target.x)
                    .attr('y2', d => d.target.y);

                node
                    .attr('transform', d => `translate(${d.x}, ${d.y})`);
            }

            function dragstarted(event, d) {
                if (!event.active) simulation.alphaTarget(0.3).restart();
                d.fx = d.x;
                d.fy = d.y;
            }

            function dragged(event, d) {
                d.fx = event.x;
                d.fy = event.y;
            }

            function dragended(event, d) {
                if (!event.active) simulation.alphaTarget(0);
                d.fx = null;
                d.fy = null;
            }
        }
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='icons/graph.png') }}">
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static',filename='icons/graph.png') }}" id="logo">Knowledge Graph</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end gap-3" id="navbarSupportedContent">
            
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if 'logged_in' in session and session['logged_in'] %}
                
                <a href="/new" class="btn btn-primary" id="btn-go-create-document"><i class="bi bi-plus-lg"></i> Create </a>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ session['username'] }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="javascript:void(0)" id="btn-logout" onclick="logOut()">Log out</a></li>
                </ul>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-login">Log in</a>
                </li>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-signup">Sign up</button>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="modal-signup" tabindex="-1" aria-labelledby="modal-signup-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-signup-label">Sign up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-signup" onsubmit="return validateSignupForm();">
                    <div class="mb-3">
                        <label for="input-signup-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="input-signup-name" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="input-signup-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="input-signup-password" name="password" required>
                    </div>
                    <div class="alert alert-warning collapse" id="message-signup-error">
                        Error
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3" id="btn-signup">Sign up</button>
                    <p>Already have an account? <a id="link-login-modal" href="javascript:void(0)">Log in</a></p>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-login" tabindex="-1" aria-labelledby="modal-login-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-login-label">Log in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-login" onsubmit="return validateLoginForm();">
                    <div class="mb-3">
                        <label for="input-login-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="input-login-username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="input-login-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="input-login-password" name="password" required>
                    </div>
                    <div class="alert alert-warning collapse" id="message-login-error">
                        Error
                    </div>
                    <div class="alert alert-success collapse" id="message-login-success">
                        Success
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3" id="btn-login">Log in</button>
                    <p>Don't have an account? <a id="link-signup-modal" href="javascript:void(0)">Sign up</a></p>
                </form>
            </div>
            </div>
        </div>
    </div>
    <main class="container-fluid" id="home-content">

        {% block content %}
        {% endblock %}
        
    </main>

    <!-- <footer class="mt-auto">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container justify-content-center">
                <a class="navbar-brand" href="https://nakhod.me">
                    Oleksii Nakhod
                </a>
                <a href="https://github.com/oleksii-nakhod/news" target="_blank">
                    <i class="fab fa-github fa-xl" style="color: white"></i>
                </a>
            </div>
        </nav>
    </footer> -->

    <script src="{{ url_for('static',filename='scripts.js') }}"></script>
</body>
</html>