<div>
    <h2 id="visualization"><i class="bi bi-share"></i> Visualization <a class="anchor-link" href="#visualization" aria-label="Link to this section: Visualization">#</a></h2>
    <div id="alert-graph-data-missing" class="alert alert-warning d-none" role="alert">
        No graph data available.
    </div>
    <svg id="viz"></svg>
</div>

<script>
    data = {{ data | tojson | safe }};
    console.log(data);
    if (data.graph.nodes.length > 0) {
        drawGraph(data.graph.nodes, data.graph.links);
    } else {
        document.getElementById('alert-graph-data-missing').classList.remove('d-none');
    }
</script>