{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Search Results</h2>
    {% for id, title, content, score in results %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{ content | safe }}</p>
                <footer class="blockquote-footer">Similarity Score: {{ score }}</footer>
            </div>
        </div>
    {% else %}
        <p>No results found.</p>
    {% endfor %}
</div>

<div id="viz"></div>

<script>
    const results = {{ results | tojson }};
    console.log(results);
    drawGraph("MATCH (doc:Document) WHERE id(doc) IN [" + results.map(item => item[0]).join(",") + "] RETURN doc")
</script>
{% endblock %}