{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Search Results</h2>
    {% for id, title, content, score in results %}
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{ content | safe }}</p>
                <footer class="blockquote-footer">Similarity Score: {{ score }}</footer>
            </div>
        </div>
    {% else %}
        <p>No results found.</p>
    {% endfor %}
</div>

<script>
    drawGraph()
</script>
{% endblock %}