<form id="form-item" onsubmit="return validateItemForm();">
    <div class="mb-3">
        <h1 id="item-title"></h1>
        <label id="label-input-item-title" for="input-item-title" class="fs-4">Title</label>
        <input type="text" class="form-control form-control-lg" id="input-item-title">
    </div>
    <div class="mb-3">
        <label for="input-item-labels" class="fs-4">Labels</label>
        <div>
            <div id="input-item-labels" class="btn-group flex-wrap gap-2" role="group">
                {% for label in data.labels %}
                    <input type="checkbox" class="btn-check" name="labels" id="label-{{ label }}" value="{{ label }}" autocomplete="off">
                    <label class="btn btn-outline-primary" for="label-{{ label }}">{{ label }}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="input-item-content" class="fs-4">Content</label>
        <input id="input-hidden-trix" type="hidden" name="content">
        <trix-editor input="input-hidden-trix" id="input-item-content"></trix-editor>
    </div>
    
    <div id="item-actions" class="row gap-3 justify-content-center">
        <button type="button" class="btn btn-secondary d-none col-12 col-md-3 mb-3" id="btn-back"><i class="bi bi-arrow-left"></i> Back
        </button>
        {% if 'logged_in' in session and session['logged_in'] %}
        <button type="button" class="btn btn-secondary d-none col-12 col-md-3 mb-3" id="btn-delete-item"><i class="bi bi-trash"></i> Delete
        </button>
        <button type="button" class="btn btn-secondary d-none col-12 col-md-3 mb-3" id="btn-cancel-item"><i class="bi bi-x-lg"></i> Discard
        </button>
        <button type="button" class="btn btn-primary d-none col-12 col-md-3 mb-3" id="btn-edit-item"><i class="bi bi-pencil"></i> Edit
        </button>
        <button type="button" class="btn btn-primary d-none col-12 col-md-3 mb-3" id="btn-save-item"><i class="bi bi-floppy2-fill"></i> Save
        </button>
        <button type="button" class="btn btn-primary d-none col-12 col-md-3 mb-3" id="btn-create-item"><i class="bi bi-plus-lg"></i> Create
        </button>
        {% endif %}
    </div>
</form>

<div id="alert-content-missing" class="alert alert-warning d-none" role="alert">
    Please fill in the title and content.
</div>

<div id="spinner-loading" class="spinner-border text-primary d-none" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div id="alert-submission-success" class="alert alert-success d-none" role="alert">
    Request successfully processed! Redirecting...
</div>

<div id="alert-submission-error" class="alert alert-danger d-none" role="alert">
    An error occurred while saving the item. Please try again.
</div>

<script src="{{ url_for('static',filename='scripts/trix.js') }}"></script>